@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.cardboard-border{
  border-image-source: url("/lib/images/cardboard2-strip.jpeg");
  border-image-slice: 100;
  border-image-repeat: repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Color de fondo opcional */
}

.main-content {
  width: 100%;
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  background-color: #fff; /* Color de fondo opcional */
  border-radius: 8px; /* Bordes redondeados opcionales */
}

.map-container {
  height: 500px;
  width: 100%;
  border: 2px solid #ccc; /* Borde opcional */
  border-radius: 8px; /* Bordes redondeados opcionales */
  overflow: hidden; /* Para asegurarse de que el contenido no se desborde */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
